---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "layout";
@import "text";
@import "blog";
@import "helpers";
@import "fonts";

// TOFU
@import "tofu/hero";
@import "tofu/content";
@import "tofu/card--portfolio";
@import "tofu/portfolio";
@import "tofu/footer";
@import "tofu/wrapper";


// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 50%;
  padding: 0 10px;
  height: 100%;

  @include mobile {
    max-width: 98%;
  }

}

img {
  max-width: 100%;
}


img.homepage-image {
  height: 200px;
  width: auto;
  border-radius: 50%;
  border: 5px solid $lightGray;

  @include mobile {
    padding-left: auto;
    padding-right: auto;
    height: 150px;
  }

}

// NEW GRADIENT BORDER
// .homepage-image {
//   height: 200px;
//   width: auto;
//   border-radius: 50%;
//   position: relative;
//   background: $blueGradient;
//   background-clip: padding-box;
//   padding: 8px;
//
//   &::after {
//     position: absolute;
//     top: -4px; bottom: -4px;
//     left: -4px; right: -4px;
//     background: $blueGradient;
//     content: '';
//     z-index: -1;
//   }
//
//
//   @include mobile {
//     padding-left: auto;
//     padding-right: auto;
//     height: 150px;
//   }
//
// }

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $offWhite;
  background: $darkerGray;
}
::selection {
  color: $offWhite;
  background: $darkerGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.padding-none {
  padding: 0 !important;
}

.illustrations {
  margin-bottom: 15px;
  padding-left: 0px !important;
}

.border--lightgray {
  border: 5px $lightGray solid;
  border-radius: 10px;
}

.border--blueGradient {
  position: relative;
  background: $blueGradient;
  background-clip: padding-box;
  padding: 10px;

  &::after {
    position: absolute;
    top: -4px; bottom: -4px;
    left: -4px; right: -4px;
    background: $blueGradient;
    content: '';
    z-index: -1;
  }
}

.screen-gifs {
  margin: 30px auto;
  border: $lightGray 5px solid;
  border-top: $lightGray 50px solid !important;
  background-color: $lightGray;
  padding: 0;
}

.browser-buttons {
  margin: -50px auto auto 5px;
  padding: 8px 0;
  display: block;
  width: 50px;
  height: auto;

  @include mobile {
    width: 25px;
    padding: 0;
  }

}

.design-item {
  margin-bottom: 30px;
}

.nav-active {
  text-decoration: line-through;
}

.illustrations-robots {
  width: 30%;
  height: auto;
  margin: 0 20px 20px 0;

  @include mobile {
    width: 45%;
    margin: 0 10px 20px 0;
  }

}

.image--medium {
  width: 40%;
  height: auto;
  margin: 50px 0;

  @include mobile {
    width: 100%;
    margin: 0 10px 20px 0;
  }

}

.red-x {
  color: red;
  font-weight: bold;
}

.green-check {
  color: green;
}

.sub-bullet {
  margin-left: 25px;
  display: block;
}

.footnote {
  font-size: 10px;
  font-style: italic;
  text-align: right;
}

.wrapper-footer {
  margin-top: 50px;
  background-color: $white;
  // border-top: 5px solid $lightGray;
  color: $darkGray;
}

.footer-img {
  height: 35px;
  width: auto;
  margin: 10px;
}

.footer-txt {
  font-size: 12px;
  text-transform: uppercase;
  font-family: $opensans;
  font-weight: 600;

  a {
    color: $darkGray;
    font-weight: 600;
  }

}

.mobile-only {
  display: none;

  @include mobile {
    display: block;
  }

}

.mobile-text-center {

  @include mobile {
    text-align: center;
  }

}

.footer-coffee {
  height: 14px;
  margin: 0 4px 0 3px;
}

footer {
  padding: 30px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
