---
---

//
// IMPORTS
//

@import "variables";
@import "reset";
@import "text";
@import "blog";
@import "helpers";
@import "fonts";

// TOFU
@import "tofu/hero";
@import "tofu/content";
@import "tofu/card--portfolio";
@import "tofu/portfolio";
@import "tofu/footer";
@import "tofu/wrapper";

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// Otherwise it really bloats up the top of the CSS file and makes it difficult 
// to find the start
@import "highlights";
