<div class="about-bio--content">
  <span class="about-x close display-none">
    <svg width="31" height="30" xmlns="http://www.w3.org/2000/svg">
      <path d="M2.135 1.5L29.2 28.565M2.135 28.5L29.2 1.435" stroke-width="2" fill="none" stroke-linecap="square"/>
    </svg>
  </span>
  <div>
    <h1 class="margin-top-50">About Me</h1>
  </div>
  <div>
    <p>
      <span class="about-bio--comment">
        // Short bio
      </span>
      I'm a web designer &amp; developer living in Tulsa with my favorite <a href="https://www.sparks-of-art.com">human</a> and our favorite <a href="https://www.instagram.com/p/wm-FsonqsK/?taken-by=jacobrokaw">non-humans</a>. We also run a small design shop, <a href="https://www.etsy.com/shop/ChaibuStudio">Chaibu Studio</a>.
    </p>
    <div class="about--learn-more display-none">
      <p>
        <span class="about-bio--comment">
          // Professional stuff
        </span>
        Present: Web Designer &amp; Developer @ <a href="https://www.formstack.com" target="_blank">Formstack</a> <br>
        Past: Applications Developer @ <a href="https://www.nationwide.com/index.jsp" target="_blank">Nationwide</a>
      </p>
      <p>
        <span class="about-bio--comment">
          // Personal stuff
        </span>
        After meeting in San Fransisco, my wife and I have lived in three different states in the past three years. I love the experience of living in a city and making it home for a year before going on to explore somewhere new. My favorite nights consist of drinking hot tea and reading a good book on philosophy. My greatest weekness is rooting for the <a href="/did-the-browns-win">Cleveland Browns</a>.
      </p>
    </div>
    <p>
      <span class="about-bio--comment">
        // Currently reading
      </span>
      <a href="https://www.amazon.com/Flow-Psychology-Experience-Perennial-Classics/dp/0061339202" target="_blank">Flow: The Psychology of Optimal Experience</a> — Mihaly Csikszentmihalyi
    </p>
  </div>
    <button class="button--ghost-offwhite learn-more">&laquo; Read More</button>
  <div class="margin-bottom-30">
    {% include footer-text.html %}
  </div>
</div>
