<div class="about-bio--content">
  <span class="about-x close display-none">&times;</span>
  <div>
    <h1 class="margin-top-50">About Me</h1>
  </div>
  <div>
    <p>
      <span class="about-bio--comment">
        // Short bio
      </span>
      I'm a web designer &amp; developer at <a href="https://www.formstack.com" target="_blank">Formstack</a>. I currently reside in Tulsa with my <a href="https://www.sparks-of-art.com">favorite human</a>, and our <a href="https://www.instagram.com/p/wm-FsonqsK/?taken-by=jacobrokaw">two furry children</a>. We also run a small design shop, <a href="https://www.etsy.com/shop/ChaibuStudio">Chaibu Studio</a>.
    </p>
    <div class="about--learn-more display-none">
      <p>
        <span class="about-bio--comment">
          // Professional stuff
        </span>
         After graduating with an Information Systems degree and working for a large financial corporation for two years, I realized I needed a change. So I began learning the basics of design and more relevant programming languages. After a little while, I started moonlighting on various web design projects to gain experience. Now I work for one of the best <a href="https://www.formstack.com/remotelife" target="_blank">remote companies</a>, co-run a small design shop with my wife, and continue to learn every day with more projects in the pipeline.
      </p>
      <p>
        <span class="about-bio--comment">
          // Personal stuff
        </span>
        I try to take advantage of the remote lifestyle by moving around from city to city. My wife and I have lived in three different states in the past three years and plan to move again soon. My ideal way to spend an evening would be spinning a relaxing record, sipping hot tea, and reading a book or working on an enjoyable project. My biggest weakness is rooting for the Cleveland Browns.
      </p>
    </div>
  </div>
  <div>
    <p>
      <span class="about-bio--comment">
        // Currently reading
      </span>
      <em>Black Skin, White Masks</em> — Frantz Fanon
    </p>
  </div>
  <div class="margin-top-30">
    <button class="button--ghost-white learn-more">&#10094; Learn More</button>
  </div>
  <div>
    {% include footer-icons.html %}
  </div>
</div>
