<div class="tofu-footer">
  <div class="tofu-footer__content">
    <p>2018 © <a class="tofu-footer__socials__item" href="/"><span>Jake Brokaw</span></a> <span class="tofu-mobile-break"><span class="tofu-mobile-hide"><strong>&middot;</strong></span> Built with ☕️ in Tulsa, OK</span></p>
  </div>
  <div class="tofu-footer__socials">
    <p><a class="tofu-footer__socials__item" href="https://twitter.com/{{ site.footer-links.twitter }}">twitter</a></p>
    <p><a class="tofu-footer__socials__item" href="mailto:{{ site.footer-links.email }}">email</a></p>
    <p><a class="tofu-footer__socials__item" href="https://github.com/{{ site.footer-links.github }}">github</a></p>
    <p><a class="tofu-footer__socials__item" href="https://instagram.com/{{ site.footer-links.instagram }}">instagram</a></p>
  </div>
</div>

{% include ender.html %}
