<div id="footer" class="tofu-footer">
  <div class="tofu-footer__content">
    <p>Made with <img src="/images/coffee-mug.svg" alt="Coffee Mug Icon"> in Portland, OR.</p>
  </div>
  <div class="tofu-footer__socials">
    <p><a class="tofu-footer__socials__item" href="https://twitter.com/{{ site.footer-links.twitter }}">twitter</a></p>
    <p><a class="tofu-footer__socials__item" href="mailto:{{ site.footer-links.email }}">email</a></p>
    <p><a class="tofu-footer__socials__item" href="https://instagram.com/{{ site.footer-links.instagram }}">instagram</a></p>
    <p><a class="tofu-footer__socials__item" href="/styleguide">style guide</a></p>
  </div>
</div>

<script 
  id="jquery"
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
</script>

<script async src="/js/intersection-observer.min.js"></script>

<script async type="text/javascript">
  $(function() {
    setTimeout(function(){
        $('body').fadeIn(750);
    }, 650);
  });
</script>

{% include ender.html %}
