<div class="tofu-footer">
  <div class="tofu-footer__content">
    <p>2018 © <a class="tofu-footer__socials__item" href="/"><span>Jake Brokaw</span></a> <span class="tofu-mobile-break"><span class="tofu-mobile-hide"><strong>&middot;</strong></span> Built with ☕️ in Tulsa, OK</span></p>
  </div>
  <div class="tofu-footer__socials">
    <a class="tofu-footer__socials__item" href="https://twitter.com/{{ site.footer-links.twitter }}"><span>twitter</span></a>
    <a class="tofu-footer__socials__item" href="mailto:{{ site.footer-links.email }}"><span>email</span></a>
    <a class="tofu-footer__socials__item" href="https://github.com/{{ site.footer-links.github }}"><span>github</span></a>
    <a class="tofu-footer__socials__item" href="https://instagram.com/{{ site.footer-links.instagram }}"><span>instagram</span></a>
  </div>
</div>

{% include ender.html %}
