<div class="tofu-hero__nav">
  <div class="tofu-hero__logo">
    {% include site-logo.html %}
  </div>
  <div class="tofu-hero__nav__items">
    <a class="tofu-hero__nav__item tofu-links--slide" href="/"><span>about</span></a>
    <a class="tofu-hero__nav__item tofu-links--slide" href="/blog"><span>blog</span></a>
    <a class="tofu-hero__nav__item tofu-links--slide" href="/work"><span>work</span></a>
    <a class="tofu-hero__nav__item tofu-links--slide end" href="mailto:{{ site.footer-links.email }}"><span>contact</span></a>
  </div>
</div>
