<div class="">
  <div class="tofu-portfolio__item left">
    <h3 class="tofu-portfolio__item-title"><a href="https://formstack.com/brand/design-system" target="_blank">Formstack’s Brand Design System</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Development</span>
      <span>Documentation</span>
      <span>Maintenance</span>
    </p>
  </div>
  <div class="tofu-portfolio__item right">
    <h3 class="tofu-portfolio__item-title"><a href="https://support.formstack.com" target="_blank">Formstack’s Help Site</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h3 class="tofu-portfolio__item-title"><a href="https://formstack.com/salesforce" target="_blank">Formstack for Salesforce LP</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item right">
    <h3 class="tofu-portfolio__item-title"><a href="https://formstack.com/add-ons/workflows" target="_blank">Workflows Add-On</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Development</span>
      <span>SVG-Animation</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h3 class="tofu-portfolio__item-title"><a href="https://formstack.com/webinars/formstack-for-communities" target="_blank">Webinar Registration</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item right">
    <h3 class="tofu-portfolio__item-title"><a href="https://formstack.com/ultimate-form-design" target="_blank">Ultimate Guide to Online Form Design</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h3 class="tofu-portfolio__item-title"><a href="/did-the-browns-win" target="_blank">Did the Browns Win?</a></h3>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
</div>
