<div class="tofu-portfolio--grid">
  <a class="tofu-card--portfolio" href="https://formstack.com/brand/design-system" target="_blank">
    <div class="tofu-card__image-container design-system"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Formstack Brand Design System</p>
      <p class="tofu-card__category">#Development</p>
    </div>
  </a>
  <a class="tofu-card--portfolio" href="https://formstack.com/salesforce" target="_blank">
    <div class="tofu-card__image-container formstack-for-salesforce"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Formstack For Salesforce LP</p>
      <p class="tofu-card__category">#Development</p>
    </div>
  </a>
  <div class="tofu-card--portfolio">
    <div class="tofu-card__image-container formstack-support"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Formstack Help Site (WIP)</p>
      <p class="tofu-card__category">#Design #Development</p>
    </div>
  </div>
  <a class="tofu-card--portfolio" href="https://formstack.com/add-ons/workflows" target="_blank">
    <div class="tofu-card__image-container formstack-workflows"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Workflows Add-On LP</p>
      <p class="tofu-card__category">#Development #SVG-Animation</p>
    </div>
  </a>
  <a class="tofu-card--portfolio" href="https://www.formstack.com/webinars/inform-patient-experience-workflow-encore" target="_blank">
    <div class="tofu-card__image-container webinar-lp"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Webinar Registration LP</p>
      <p class="tofu-card__category">#Design #Development</p>
    </div>
  </a>
  <a class="tofu-card--portfolio" href="https://formstack.com/ultimate-form-design" target="_blank">
    <div class="tofu-card__image-container ultimate-form-design"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Ultimate Guide to Online Form Design</p>
      <p class="tofu-card__category">#Design #Development</p>
    </div>
  </a>
  <div class="tofu-card--portfolio">
    <div class="tofu-card__image-container rebell-peppers"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Rebell Peppers (WIP)</p>
      <p class="tofu-card__category">#Design #Development</p>
    </div>
  </div>
  <div class="tofu-card--portfolio">
    <div class="tofu-card__image-container lyfevinyl"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Lyfe Vinyl Web App (WIP)</p>
      <p class="tofu-card__category">#Design #Development</p>
    </div>
  </div>
  <a class="tofu-card--portfolio" href="/did-the-browns-win">
    <div class="tofu-card__image-container browns"></div>
    <div class="tofu-card__content">
      <p class="tofu-card__title">Did the Browns win?</p>
      <p class="tofu-card__category">#Design #Development</p>
    </div>
  </a>
</div>
