<div class="">
  <div class="tofu-portfolio__item left">
    <h4 class="tofu-portfolio__item-title"><a href="https://formstack.com/brand/design-system" target="_blank">Formstack’s Brand Design System</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
      <span>Organization</span>
      <span>Maintenance</span>
    </p>
  </div>
  <div class="tofu-portfolio__item right">
    <h4 class="tofu-portfolio__item-title"><a href="https://support.formstack.com" target="_blank">Formstack’s Help Site</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h4 class="tofu-portfolio__item-title"><a href="https://invis.io/8SO3EARXTGZ#/320347991_Homepage_Idea" target="_blank">Rebell Peppers</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Work In Progress</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h4 class="tofu-portfolio__item-title"><a href="https://formstack.com/salesforce" target="_blank">Formstack for Salesforce LP</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h4 class="tofu-portfolio__item-title"><a href="https://formstack.com/getting-started" target="_blank">Getting Started with Formstack</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item right">
    <h4 class="tofu-portfolio__item-title"><a href="https://formstack.com/add-ons/workflows" target="_blank">Workflows Add-On</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Development</span>
      <span>SVG-Animation</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h4 class="tofu-portfolio__item-title"><a href="https://www.formstack.com/webinars/simplifying-campus-event-planning" target="_blank">Webinar Registration</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item right">
    <h4 class="tofu-portfolio__item-title"><a href="https://formstack.com/ultimate-form-design" target="_blank">Ultimate Guide to Online Form Design</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
  <div class="tofu-portfolio__item left">
    <h4 class="tofu-portfolio__item-title"><a href="/did-the-browns-win" target="_blank">Did the Browns Win?</a></h4>
    <p class="tofu-portfolio__item-categories">
      <span>Design</span>
      <span>Development</span>
    </p>
  </div>
</div>
