.posts {

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 18px;
    line-height: 1.7;
  }

}

.read-more {
  font-size: 16px;
  color: $darkerGray;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  font-family: $metropolis;
  font-weight: 600;
  border-bottom: 1.5px solid transparent;

  &:hover {
    color: $gold;

    .tofu-link-arrow {

      &.right {
        margin-left: 5px;
      }

      &.left {
        margin-left: -5px;
        margin-right: 5px;
      }

    }

  }

  .tofu-link-arrow {
    vertical-align: middle;
  }

  .tofu-link-arrow.right {
    transition: margin-left 0.45s;

    &:after {
      color: $gold;
      font-family: $metropolis;
      content: "\2192";
    }

  }

  .tofu-link-arrow.left {
    transition: margin 0.45s;

    &:after {
      color: $gold;
      font-family: $metropolis;
      content: "\2190";
    }

  }

}

.entry {
  p {
    margin-bottom: 25px;
    line-height: 1.65;
  }
}

.posts > .post {
  padding-bottom: 2.75em;
  border-bottom: 1px solid $lightestGray;
  margin-bottom: 2.13rem;
}

.posts > .post:last-child {
  border-bottom: none;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.post {
  max-width: 100%;

  .comments {
    margin-top: 10px;
  }

  .blog-disclaimer {
    font-size: 16px;
    color: tint($darkerGray, 30%);

    a {
      color: tint($darkerGray, 30%);

      &:hover {
        background-color: tint($darkerGray, 30%);
        color: $offWhite;
      }

    }

  }

}

.date {
  color: $mediumGray;
  font-family: $metropolis;
  font-size: 16px;
  font-weight: 300;
  
  &.post {
    font-size: 18px;
    font-weight: 600;
  }
  
}


.tofu-blog__image {
  margin: 50px 0;

  .tofu-blog__image-cred {
    font-size: 12px;
    margin: 0;
    text-align: right;
  }

}

.sub-bullet {
  margin-left: 25px;
  display: block;
}

@media all and (max-width:320px) {
  .date {
    font-size: 14px;
  }
}
