.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  margin-bottom: 2rem;
}

.posts > .post:last-child {
  border-bottom: none;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.post {
  max-width: 100%;

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 28px;
    font-style: italic;
    author {
      font-size: 22px;
    }
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
    color: $darkerGray;
  	cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    font-family: $metropolis;

    &:hover {
      // text-decoration: line-through;
      color: tint($darkerGray, 15%);
    }

  }

  .read-more-arrow {
    font-size: 1.2rem;
    margin-left: 2px;

    &:after {
      content: '';
      margin-left: 5px;
      transform: scaleX(0);
      transition: transform 350ms ease-in-out;
    }

  }

}

.date {
  color: $mediumGray;
  font-family: $metropolis;
  font-size: 16px;
  font-weight: 400;
}
