
//
// FONT FACES
//

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/RobotoSlab-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Archivo Black Regular';
  src: url('fonts/ArchivoBlack-Regular.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Work Sans';
  src: url('fonts/WorkSans-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/GOTHAM-LIGHT.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/GOTHAM-MEDIUM.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/GOTHAM-BOLD.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Gotham';
  src: url('fonts/GOTHAM-ULTRA.ttf');
  font-weight: 900;
}
