.color--mediumGray {
  color: $mediumGray !important;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-top-none {
  margin-top: 0px;
}

.margin-right-none {
  margin-right: 0px !important;
}

.display-none {
  display: none;
}

.padding-none {
  padding: 0 !important;
}

.text-center {
  text-align: center !important;
}

.mobile-only {
  display: none;

  @include mobile {
    display: block;
  }

}

.mobile-text-center {

  @include mobile {
    text-align: center;
  }

}
