.margin-top-30 {
  margin-top: 30px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-none {
  margin-bottom: 0px;
}

.margin-top-none {
  margin-top: 0px;
}

.display-none {
  display: none;
}
