// FLEX
body {
  overflow-x: hidden;
  width: 100%;
}

.main-wrap {
	display:flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  backface-visibility: hidden;
  will-change: overflow;
}

.left-container {
  display: flex;
  -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  /*this in the flex-item that we want scrollable*/
  overflow-x: auto;
  // -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  height: auto;
  background-color: $offWhite;
  color: $darkerGray;
  padding: 3.5rem 7rem 2rem 8.75rem;
  width: 71%;

  &.no-scroll {
    position: fixed;
  }

}

.right-container {
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $offWhite;
  background-color: $darkerGray;
  padding: 2rem 2.5rem;
  width: 29%;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  -webkit-transition: width 1s; /* Safari */
  transition: width 1s;
  overflow: scroll;
  transition: all 1s ease;

  p > a {
    color: $offWhite;

    &:hover {
      color: $darkerGray;
      background-color: $offWhite;
    }

  }

  .headshot {
    display: none;
  }

  .about-bio--content {

    div {
      width: 100%;
    }

  }

  &.full-width {
    width: calc(100% - 115px);
    overflow: scroll;
    display: flex;
    flex-direction: row;
    min-height: 100%;

    .headshot {
      width: 30%;
      margin-top: 60px;
      display: flex;
      align-items: center;
    	-webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	flex-direction: column;

      img {
        border-radius: 50%;
        border: 5px solid $white;
        width: 200px;
        height: 200px;
      }

    }

    .about-x {
      position: absolute;
      right: 50px;
      top: 30px;
      stroke: $offWhite;
      padding: 10px 10px 3px;

      &:hover {
        cursor: pointer;
        stroke: $darkerGray;
        background-color: $offWhite;
      }

    }

    .about-bio--content {
      display: flex;
      -webkit-box-orient: vertical;
    	-webkit-box-direction: normal;
    	flex-direction: column;
      justify-content: center;
      width: 65%;
      margin: auto;
    }

    .footer-icons {
      width: 40%;
    }

  }

  .footer-icons {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

    }

    svg {
      fill: $offWhite;
      height: 25px;
    }

    #twitter {
      &:hover {
          fill: #1DA1F2;
        }
    }

    #instagram {
      &:hover {
          fill: #b900b4;
        }
    }

    #email {
      &:hover {
          fill: $mediumGray;
        }
    }

    #etsy {
      &:hover {
          fill: #de690f;
        }
    }

    #github {
      &:hover {
          fill: #24292e;
        }
    }

  }

}


.logo {

  svg {
    fill: $darkerGray;
    height: 25px;
    width: auto;
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 1;

    &:hover {
      fill: tint($darkerGray, 10%);
    }

  }
}

.mobile-menu {

  button {
    position: fixed;
    right: 30px;
    top: 25px;
    display: none;
  }

  &:hover {
    cursor: pointer;
  }

}

// RESPONSIFY DIS SHIZ

@media all and (max-width:1138px) {

  .left-container {
    width: 60%;
  }

  .right-container {
    width: 40%;
  }

}


@media all and (max-width:850px) {

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    -webkit-box-orient: horizontal;
  	-webkit-box-direction: normal;
  	flex-direction: row;
    flex: 1;
    background-color: $offWhite;
    width: 100%;
    height: 80px;
  }

  .mobile-menu {

    .learn-more {
      font-size: 12px;
    }

    button {
      display: inherit;
    }

  }

  .left-container,
  .right-container {
  	width: 100%;
  }

  .left-container {
    padding: 5.5rem 1rem 1.5rem;
    flex: 3;
  }

  .right-container {
    right: -100%;
    padding: 1.5rem 1rem;
    flex: 2;

    &.full-width {
      right: 0;
      width: 100%;
      min-height: 100%;

      .headshot {
        display: none;
      }

      .about-x {
        top: 15px;
        right: 25px;
      }

      .about-bio--content {
        width: 100%;
      	-webkit-box-orient: vertical;
      	-webkit-box-direction: normal;
      	flex-direction: column;
        padding-bottom: 2rem;
      }

      .footer-icons {
        width: 100%;
        margin-bottom: 50px;
      }

    }

  }

}
