h1, h2, h3, h4, h5, h6 {
  font-family: $metropolis;
  line-height: 1.4;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;

  @include mobile {
    line-height: 1.2;
  }

}

h1 {
  font-family: $source;
  font-size: 52px;
  a {
    color: $darkerGray;
    text-decoration: none;
  }

  @include mobile {
    font-size: 36px;
  }

}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 40px;
}

h2, h3 {
  font-family: $source;

  a {
    color: $darkerGray;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $darkGray;
    }

  }

  @include mobile {
    font-size: 28px;
  }

  &.blog-subhead {
    margin-top: 40px;
  }

}


h4 {
  font-size: 32px;

  a {
    color: $darkerGray;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $darkGray;
    }

  }

}

h5 {
  font-size: 24px;
}

p, li {
  margin: 0 0 15px;
  color: $darkerGray;
  font-family: $metropolis;
  font-weight: 400;
  line-height: 1.6;
  font-size: 20px;
  border-bottom: 1.5px solid transparent;

  @media all and (min-width: 1685px) {
    font-size: 24px;
  }

  @include mobile {
    font-size: 17px;
  }

  a {
  	cursor: pointer;
    text-decoration: none;
    color: $darkerGray;
    line-height: 1.1;
    transition: color 0.2s;
    border-bottom: 1.5px solid $gold;

    &:hover {
      color: shade($gold, 10%);
    }

    &:vistited {
      color: $darkerGray;
    }

  }

}

li {
  margin: 4px 0;
}

ul, ol {
  margin: 15px 0;
  padding-left: 20px;
  font-family: $metropolis;
  font-weight: 300;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

.learn-more {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  font-family: $metropolis;

  &:hover {
    cursor: pointer;
  }

}

.button--ghost-offwhite {
  border: 1px solid $offWhite;
  padding: 13px 10px 10px;
  color: $offWhite;
  background-color: $darkerGray;
  border-radius: 0;
  font-family: $metropolis;
  font-weight: 500;

  &:hover {
    border: 1px solid $offWhite;
    background-color: $offWhite;
    color: $darkerGray;
  }


}

.button--ghost-darkergray {
  border: 1px solid $darkerGray;
  padding: 13px 10px 10px;
  color: $darkerGray;
  background-color: $offWhite;
  border-radius: 0;
  font-family: $metropolis;
  font-weight: 500;

  &:hover {
    background-color: $darkerGray;
    color: $offWhite;
  }

}

.footer-text {

  p{
    font-size: 12px;
  }

  a {
    font-weight: 400;
  }

}

.follow-links {
  display: flex;
  justify-content: space-between;

  a {
    font-size: 16px;
  }

}

.copyright-text {
  text-align: left;

  p {
    font-size: 16px;
  }

}
