//
// FUNCTIONS
//
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// VARIABLES
//

// Colors
$blue: #3B63E5;
$satBlue: #013DFF;
$lightTeal: #3CB6B3;
$pink: #EE0EE9;
$blueGradient: linear-gradient(-227deg, #00BAEC 3%, #EE00FF 100%);
$slate: #556d7c;
$yellow: #EAFF00;



// Grays
$black: #000;
$darkerGray: #212121;
$darkGray: #393a3b;
$mediumGray: #8F8F8F;
$gray: #5D5D5D;
$lightGray: #CFCFCF;
$lightestGray: #CECECF;
$white: #FFFFFF;
$offWhite: #F1F6FC;

// Font stacks
$helvetica: 'Helvetica', Arial, sans-serif;
$helveticaNeue: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$georgia: 'Georgia', serif;
$opensans: 'Open Sans', sans-serif;
$worksans: 'Work Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$metropolis: 'Metropolis', sans-serif;
$source: 'Source Serif Pro', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
