//
// FUNCTIONS
//
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

//
// VARIABLES
//

// Colors
$gold: #D4AF37;
$satBlue: #013DFF;
$slate: #556d7c;

// Grays
$black: #000;
$darkerGray: #212121;
$darkGray: #393a3b;
$mediumGray: #8F8F8F;
$gray: #5D5D5D;
$lightGray: #CFCFCF;
$lightestGray: #CECECF;
$white: #FFFFFF;
$offWhite: #F4F6FA;

// Font stacks
$metropolis: 'Metropolis', sans-serif;
$opensans: 'Open Sans', sans-serif;
$source: 'Source Serif Pro', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
