/* COLORS */
:root {
  --orange: #EB3300;
  --brown: #382F2D;
  --white: #FFFFFF;
}


html, body {
  position: relative;
  color: var(--white);
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  $metropolis: 'Metropolis', sans-serif;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

.wrapper {
  display:flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
  height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center;
}

.section--white,
.section--orange,
.section--brown--small {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  content: ' ';
  height: 8%;
}

.section--white { background-color: var(--white); }
.section--orange { background-color: var(--orange); }
.section--brown { background-color: var(--brown); }

.content {
  height: 68%;
  width: 100%;
  color: var(--white);
  display: flex;
  -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
  justify-content: center;
  align-content: space-between;
  padding: 50px 0;
}

.headline {
  font-size: 32px;
}

.answer {
  font-size: 120px;
  margin: 30px auto 80px;
  height: 211px;
}

.footer {
  width: 100%;
}

.footer p {
  font-size: 18px;
}

.footer a {
  color: var(--white);
  text-decoration: none;
  border-bottom: 2px solid var(--orange);
}

.footer a:hover {
  color: var(--orange);
}

/* HELPERS */

.display-none {
  display: none;
}


/* MOBILE */

@media (max-width: 842px) {

  .answer {
    font-size: 88px;
    margin-bottom: 30px;
    height: 155px;
  }

  .footer p {
    font-size: 16px;
  }

}

@media (max-width: 640px) {

  .headline {
    font-size: 28px;
  }
  
  .answer {
    font-size: 75px;
    height: 132px;
  }

}

@media (max-width: 524px) {

  .headline {
    font-size: 24px;
  }
  
  .answer {
    font-size: 64px;
    height: 113px;
  }

}

@media (max-width: 444px) {

  .headline {
    font-size: 20px;
  }
  
  .answer {
    height: 226px;
  }

  .footer p {
    font-size: 14px;
  }

}

@media (max-height: 690px) {

  .section--white,
  .section--orange,
  .section--brown--small {
    height: 12%;
  }

  .content { height: 52%; }

  .answer { margin-bottom: 10px; }

}

@media (max-height: 560px) {

  .section--white,
  .section--orange,
  .section--brown--small {
    height: 11%;
  }

  .content { height: 56%; }

}

@media (max-height: 465px) {

  .section--white,
  .section--orange,
  .section--brown--small {
    height: 10%;
  }

  .content { height: 60%; }

}
