.tofu-main {
  display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
  position: relative;
  background-color: $offWhite;
  color: $darkerGray;
  padding: 0 30px 30px 75px;
  font-family: $metropolis;

  blockquote {
    font-family: $source;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    padding: 30px 0 30px 50px;
    width: 120%;

    author {
      font-size: 24px;
      font-style: normal;
    }

  }

}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px dotted $lightGray;
  margin: 50px 0;
}

.tofu-main__content,
.tofu-main__bio {
  display: flex;
  -webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
  position: relative;
}

.tofu-main__content {
  width: 57%;
}

.tofu-hero__content--full-width {
  width: 90%;
}

.tofu-main__bio {
  width: 25%;
  margin: 0 8% 0 7%;
  padding-right: 30px;
  position: relative;

  &.tofu-main--no-bio {

    .tofu-main__bio__content {
      display: none;
    }

  }

  hr {
    width: 100%;
  }

}

.tofu-main__bio--comment {
  color: $mediumGray;
  display: block;
  text-transform: uppercase;
  font-size: 18px;

  @media all and (min-width: 1685px) {
    font-size: 20px;
  }
}

.tofu-main__bio__content {
  border-left: 1px dotted $mediumGray;
  padding-left: 30px;

  p {
    font-size: 18px;
    font-weight: 300;
    color: $mediumGray;
  }

}

.tofu-main__bio__image {
  background-image: url('images/facepalm--offwhite.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  right: 88px;
  bottom: 0;
  height: 350px;
  width: 300px;
}

//Responsiveness

@media all and (max-width:1060px) {
  .tofu-main__bio {
    width: 28%;
    margin: 0 5%;

    p {
      font-size: 16px;
    }

  }
}

@media all and (max-width:908px) {
  .tofu-main {
    padding-top: 0;
    -webkit-box-orient: vertical;
  	flex-direction: column;
    padding-left: 50px;

    blockquote {
      width: 100%;
    }

  }

  .tofu-main__bio {
    width: 80%;
    display: block;
    margin: 0 0 30px;
    order: 1;

    p {
      font-size: 18px;
    }

  }
  .tofu-main__content{
    width: 80%;
    display: block;
    order: 2;
  }

}

@media all and (max-width:882px) {
  .tofu-main__bio__image {
    height: 300px;
    width: 150px;
    right: inherit;
  }
}

@media all and (max-width:750px) {
  .tofu-main {
    padding-left: 30px;
  }
}

@media all and (max-width:674px) {
  .tofu-main {
    padding: 0 15px 15px;

    blockquote {
      font-size: 24px;
      padding: 15px 0 15px 30px;

      author {
        font-size: 16px;
        font-style: normal;
      }

    }

  }
}
