<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link async rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css?v=11.13.17" />
    <link async rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <!-- <link async href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Roboto+Slab:300,400,700" rel="stylesheet"> -->
    <link async rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="main-wrap">
      <div class="mobile-nav">
        <div class="logo" id="top">
          <a href="{{ site.baseurl }}/">
            <!-- <img src="{{ site.avatar }}" /> -->
            <svg width="auto" height="30" viewBox="0 0 1029 460" xmlns="http://www.w3.org/2000/svg">
              <g class="fill" fill-rule=" evenodd">
                <g transform="translate(.733 .15)">
                  <rect x="266.111" width="229.5" height="459" rx="10"/>
                  <path d="M10.157 240.975h209.5c5.523 0 10 4.477 10 10V449c0 5.523-4.477 10-10 10H109.17C48.964 459 .157 410.193.157 349.988v-99.013c0-5.523 4.477-10 10-10z"/>
                </g>
                <g transform="translate(532.55 .15)">
                  <rect x=".246" width="229.5" height="459" rx="10"/>
                  <path
                    d="M485.642 248.4h-209.5c-5.523 0-10 4.477-10 10v191.275c0 5.523 4.477 10 10 10h113.862c58.342 0 105.638-47.296 105.638-105.637V258.4c0-5.523-4.477-10-10-10zm0-248.4h-209.5c-5.523 0-10 4.477-10 10v191.275c0 5.523 4.477 10 10 10h113.862c58.342 0 105.638-47.296 105.638-105.638V10c0-5.523-4.477-10-10-10z"/>
                </g>
              </g>
            </svg>
          </a>
        </div>
        <div class="mobile-menu learn-more">
          <!-- <svg id="menu" viewBox="0 0 63 35" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h63v8.29H0zm0 13h63v8.29H0zm0 13h63v8.29H0z" fill-rule="evenodd"/>
          </svg> -->
          <button class="button--ghost-darkergray learn-more">&#10094; About</button>
        </div>
      </div>
      <div class="left-container close">
        {{ content }}
      </div>
      <div class="right-container">
        <div class="headshot">
          <img src="/images/jake_headshot.jpg" alt="">
        </div>
        {% include bio.html %}
      </div>
      <script type="text/javascript">
      $(function() {
        $(".learn-more").click(function() {
          $(".right-container").addClass("full-width");
          $(".learn-more").addClass("display-none");
          $(".about-x").removeClass("display-none");
          $(".about--learn-more").removeClass("display-none");
          $(".left-container").addClass("no-scroll");
          $(".about-bio--content").fadeOut(0).fadeIn(1000);
          $(window).scroll(0,0);
        });
        $(".close").click(function() {
          if ($(".right-container").hasClass("full-width")) {
            $(".right-container").removeClass("full-width");
            $(".learn-more").removeClass("display-none");
            $(".about-x").addClass("display-none");
            $(".about--learn-more").addClass("display-none");
            $(".left-container").removeClass("no-scroll");
            $(".about-bio--content").fadeOut(0).fadeIn(1000);
            $(window).scroll(0,0);
          }
        });
      });
      </script>
      {% include analytics.html %}
    </div>
  </body>
</html>
